@font-face {
    font-family: Dancing;
    src: url('./Fonts/DancingScript-VariableFont_wght.ttf');
  }
td{
    font-size: 15px ;
    padding-bottom: 10px;
}
table{
    padding-left: 5%;
    margin-top: 5%; 
    font-family: Dancing;

}
#mainSectionMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
    box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
}
#headerInMenu{
    text-align: center;
    font-size: 50px;
    font-family: Dancing;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.captionTitle{
    font-size: 28px;
    font-weight: normal;
    margin: 20px;
}


#imageNoteFooter{
    width: 48px;
    height: 50px;
    margin-top: -9px;
    margin-right: 10px;
}
#menuFooterNote{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
    font-size: 25px;
    font-family: Dancing;
}


@media (max-width: 800px) {
    #mainSectionMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
        box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 4%;
        padding-right: 4%;
    }
    }


    .captionTitle, .captionTitle:visited {
        text-decoration: none;
        position: relative;
        }
      .captionTitle:after, .captionTitle:visited:after {
        content: '';
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: black;
        transition: 0.2s;
      }
      .captionTitle:hover:after, .captionTitle:visited:hover:after {
        width: 100%;
      }
      .captionTitle.block, .captionTitle:visited.block {
        display: block;
        padding: 0.5em;
      }
      .captionTitle.block:hover, .captionTitle:visited.block:hover {
        background: #eee;
      }