td{
    font-size: 15px ;
    padding-bottom: 10px;
}
caption{
    margin-bottom: 10px;
}
table{
    padding-left: 5%;
    margin-top: 5%; 
}
#mainSectionMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
    box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
}
#headerInMenu{
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to right, #c77529, #6a56a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.captionTitle{
    font-size: 28px;
    font-weight: normal;
    margin: 20px;
}
.firstTable{
    color: #c77529;

}
.secondTable{
    color: #a86698;


}
.thirdTable{
    color: #6a56a5;

}


@media (max-width: 800px) {
    #mainSectionMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
        box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 4%;
        padding-right: 4%;
    }
    }

    .captionTitleFirst, .captionTitleFirst:visited {
        text-decoration: none;
        position: relative;
        font-size: 28px;
        font-weight: normal;
        margin: 20px;
        }
      .captionTitleFirst:after, .captionTitleFirst:visited:after {
        content: '';
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: #c77529;
        transition: 0.2s;
      }
      .captionTitleFirst:hover:after, .captionTitleFirst:visited:hover:after {
        width: 100%;
      }
      .captionTitleFirst.block, .captionTitleFirst:visited.block {
        display: block;
        padding: 0.5em;
      }
      .captionTitleFirst.block:hover, .captionTitleFirst:visited.block:hover {
        background: #eee;
      }


      .captionTitleSecond, .captionTitleSecond:visited {
        text-decoration: none;
        position: relative;
        font-size: 28px;
        font-weight: normal;
        margin: 20px;
        }
      .captionTitleSecond:after, .captionTitleSecond:visited:after {
        content: '';
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: #a86698;
        transition: 0.2s;
      }
      .captionTitleSecond:hover:after, .captionTitleSecond:visited:hover:after {
        width: 100%;
      }
      .captionTitleSecond.block, .captionTitleSecond:visited.block {
        display: block;
        padding: 0.5em;
      }
      .captionTitleSecond.block:hover, .captionTitleSecond:visited.block:hover {
        background: #eee;
      }


      .captionTitleThrid, .captionTitleThrid:visited {
        text-decoration: none;
        position: relative;
        font-size: 28px;
        font-weight: normal;
        margin: 20px;
        }
      .captionTitleThrid:after, .captionTitleThrid:visited:after {
        content: '';
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: #6a56a5;
        transition: 0.2s;
      }
      .captionTitleThrid:hover:after, .captionTitleThrid:visited:hover:after {
        width: 100%;
      }
      .captionTitleThrid.block, .captionTitleThrid:visited.block {
        display: block;
        padding: 0.5em;
      }
      .captionTitleThrid.block:hover, .captionTitleThrid:visited.block:hover {
        background: #eee;
      }