@font-face {
    font-family: Kaushan;
    src: url('./Fonts/KaushanScript-Regular.ttf');
  }
td{
    font-size: 15px ;
    padding-bottom: 10px;
}
caption{
    margin-bottom: 10px;
}
table{
    padding-left: 5%;
    margin-top: 5%; 
    font-family: Kaushan;


}
#mainSectionMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
    box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
}
#headerInMenu{
    text-align: center;
    background: linear-gradient(to right,#3a4fa2, #4e96d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titleHeader{
  font-size: 50px;
  font-family: Kaushan;
  margin-bottom: 10px;
  margin-top: 10px;
}
.captionTitle{
    font-size: 28px;
    font-weight: normal;
    margin: 20px;
}
.captionContainer{
  margin-bottom: 15px;
}
.brImage{
  width: 10vw;
}




@media (max-width: 800px) {
    #mainSectionMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
        box-shadow: 0 0 10px 0 rgba(152,153,151,.6);
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 4%;
        padding-right: 4%;
    }
    }

    .captionTitleFirst, .captionTitleFirst:visited {
        text-decoration: none;
        position: relative;
        margin-right: 6vw;
        margin-left: 6vw;
        font-size: 28px;
        font-weight: normal;
        }
      .captionTitleFirst:after, .captionTitleFirst:visited:after {
        content: '';
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: linear-gradient(to right,#3a4fa2, #4e96d1);
        transition: 0.2s;
      }
      .captionTitleFirst:hover:after, .captionTitleFirst:visited:hover:after {
        width: 100%;
      }
      .captionTitleFirst.block, .captionTitleFirst:visited.block {
        display: block;
        padding: 0.5em;
      }
      .captionTitleFirst.block:hover, .captionTitleFirst:visited.block:hover {
        background: #eee;
      }


      .captionTitleSecond, .captionTitleSecond:visited {
        text-decoration: none;
        position: relative;
        margin-right: 6vw;
        margin-left: 6vw;
        font-size: 28px;
        font-weight: normal;
        }
      .captionTitleSecond:after, .captionTitleSecond:visited:after {
        content: '';
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: linear-gradient(to right,#3a4fa2, #4e96d1);
        transition: 0.2s;
      }
      .captionTitleSecond:hover:after, .captionTitleSecond:visited:hover:after {
        width: 100%;
      }
      .captionTitleSecond.block, .captionTitleSecond:visited.block {
        display: block;
        padding: 0.5em;
      }
      .captionTitleSecond.block:hover, .captionTitleSecond:visited.block:hover {
        background: #eee;
      }



      .captionTitleThird, .captionTitleThird:visited {
        text-decoration: none;
        position: relative;
        margin-right: 6vw;
        margin-left: 6vw;
        font-size: 28px;
        font-weight: normal;
        }
      .captionTitleThird:after, .captionTitleThird:visited:after {
        content: '';
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        background: linear-gradient(to right,#3a4fa2, #4e96d1);
        transition: 0.2s;
      }
      .captionTitleThird:hover:after, .captionTitleThird:visited:hover:after {
        width: 100%;
      }
      .captionTitleThird.block, .captionTitleThird:visited.block {
        display: block;
        padding: 0.5em;
      }
      .captionTitleThird.block:hover, .captionTitleThird:visited.block:hover {
        background: #eee;
      }

      /* CSS mobile ici */
    @media (max-width: 640px) {
      #headerInMenu{
        font-size: 30px;
      }
      .captionTitleFirst, .captionTitleSecond, .captionTitleThird{
        font-size: 18px;
        margin-right: 0vw;
        margin-left: 0vw;
      }
      #footerContainer {
        display: flex;
        background-color: #569c88;
        height: 6vh;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 2%;
        padding-left: 2%;
        position: absolute;
        left: 0;
        width: 96%;
        top: 800px;
    }
    }

    
    @media(max-width: 780px) {
      td {
        text-align: center;
      }
      .captionContainer {
        margin-top: 2vh;
      }
    }